@inherits LayoutComponentBase

<div class="top-bar">
    <a class="logo" href="">
        <!--Sustituimos el logo por Buno's Pizza-->
        <img style="width: 100px; height: 100px;" src="img/logo.png" />
    </a>

    <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
        <img src="img/pizza-slice.svg" />
        <div>Get Pizza</div>
    </NavLink>

    <AuthorizeView>
        <NavLink href="myorders" class="nav-tab">
            <img src="img/bike.svg" />
            <div>My Orders</div>
        </NavLink>
    </AuthorizeView>

    <LoginDisplay />
</div>

<div class="content">
    @Body
</div>
