@inherits LayoutComponentBase

<div class="top-bar">
    <a class="logo" href="">
        <img src="img/logo.svg" />
    </a>

    <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
        <img src="img/pizza-slice.svg" />
        <div>Get Pizza</div>
    </NavLink>

    <!-- Navlink para dirigirme a Favorites -->
    <NavLink href="/favorites" class="nav-tab" Match="NavLinkMatch.All">
        <img src="img/heart.svg" />
        <div>Favorites</div>
    </NavLink>
</div>

<div class="content">
    @Body
</div>
