@inherits LayoutComponentBase

<div class="top-bar">
    <a class="logo" href="">
        <img src="img/logo.svg" />
    </a>

    <NavLink href="" class="nav-tab" Match="NavLinkMatch.All">
        <img src="img/pizza-slice.svg" />
        <div>Get Pizza</div>
    </NavLink>

    <AuthorizeView>
        <NavLink href="myorders" class="nav-tab">
            <img src="img/bike.svg" />
            <div>My Orders</div>
        </NavLink>
    </AuthorizeView>

    <!-- Página de perfil se muestra si el ususario está autorizado-->
    <AuthorizeView>
        <Authorized>
            <NavLink href="profile" class="nav-tab">
                <img src="img/account-cowboy-hat.svg" />
                <div>My Profile</div>
            </NavLink>
            
        </Authorized>
    </AuthorizeView>

    <LoginDisplay />
</div>

<div class="content">
    @Body
</div>
